.do-banner__popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(25px);
    top:0;
    left:0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}
.do-banner__popup:target {
    opacity: 1;
    visibility: visible;
}
.do-banner__popup:target .do-banner__popup__content {
    transform: translate(0px 0px);
    opacity: 1;
}
.do-banner__popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.do-banner__popup__body {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px 10px;
    transition: all 0.8s ease 0s;
}
.do-banner__popup__content {
    background-color: var(--white-color);
    border-radius: 24px;
    max-width: 248px;
    max-height: 438px;
    padding:16px;
    position: relative;
    opacity: 0;
    transform: translate(0px -100%);
}
.do-banner__popup__content img {
    margin-bottom:10px;
}
.do-banner__popup__close {
    position: absolute;
    right: -28px;
    top:-10px;
    width: 16px;
    height: 16px;
    color: var(--white-color);
    text-decoration: none;
    font-size: 31px;
    font-weight: 600;
    transform: rotate(45deg);
}
.do-banner__popup__title {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 22px;
    margin-bottom: 12px;
}
.do-banner__popup__text {
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 95px;
}
.do__popup__btn {
    width: 216px;
    height: 48px;
}
.do-popup__btn__content {
    width: 216px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-light);
    border: 1px solid var(--orange-light);
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}
.do__popup__btn a{
    text-decoration: none;
    color: var(--orange-dark);
}
.do__popup__btn a:hover{
    color: var(--orange-middle);
}
/*PRODUCTS*/
.do-product__popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(25px);
    top:0;
    left:0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}
.do-product__popup:target {
    opacity: 1;
    visibility: visible;
}
.do-product__popup:target .do-product__popup__content {
    transform: translate(0px 0px);
    opacity: 1;
}
.do-product__popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.do-product__popup__body {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px 10px;
    transition: all 0.8s ease 0s
}
.do-product__popup__content {
    background-color: var(--white-color);
    border-radius: 24px;
    width: 920px;
    height: 610px;
    position: relative;
    opacity: 0;
    transform: translate(0px -100%);
    display: flex;
    margin:0;
    padding:0;

}
.do-product__popup__close {
    position: absolute;
    right: -28px;
    top:-10px;
    width: 16px;
    height: 16px;
    color: var(--white-color);
    text-decoration: none;
    font-size: 31px;
    font-weight: 600;
    transform: rotate(45deg);
}
.do-product__popup__content-left {
    width: 60%;
    background-image: url("../../Git/Kostya_dodo/Varya/img/elipse_prod_card.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.do-product__popup__content-right {
    width: 42%;
    height: 610px;
    background-color:#FCFCFC;
    display: flex;
    flex-direction: column;
    position: relative;
    padding:30px;
    border-radius: 0 20px 20px 0;

}
.do-product__popup__title {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: 33px;
    margin-bottom: 10px;
}
.do-product__popup__text {
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 12px;
}
.do-product__popup__ingridients {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    margin-bottom: 50px;
}
.do-btn__switch__size {
    position: relative;
    display: inline;
    margin-bottom: 12px;
}
.do-btn__switch__size__content {

}
.do-btn__switch__dough {
    position: relative;
    display: inline;
    margin-bottom: 11px;
}
.do-btn__switch__dough__checkbox {
    position: relative;
    width: 320px;
    height: 32px;
    -webkit-appearance: none;
    background: var(--gray-corp);
    outline: none;
    border-radius: 100px;
    cursor: pointer;
}
.do-btn__switch__dough__checkbox:checked {
    background: var(--gray-corp);
}
.do-btn__switch__dough__checkbox:before {
    content: '';
    position: absolute;
    width: 160px;
    height: 30px;
    border-radius: 100px;
    top:0;
    left: 0;
    background: var(--white-color);
    transition: .5s;
    box-shadow: 0 3px 15px rgba(6, 5, 50, 0.05);
}
.do-btn__switch__dough__checkbox:checked:before {
    left:157px;
}
.do-tradition-dough {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    pointer-events: none;
    position: absolute;
    bottom:15px;
    left:42px;
}
.do-thin-dough {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    pointer-events: none;
    position: absolute;
    bottom: 14px;
    left: 220px;
}
.do-product__popup__add-title {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 22px;
    margin-bottom: 12px;
}
.do-product__popup__side__ingridients {

}
.do-product__popup__footer {
    width: 380px;
    height: 109px;
    background-color: var(--white-color);
    position: absolute;
    bottom:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 0;

}
.do-btn__add-to-cart {
    width: 320px;
    height: 48px;
    border-radius: 1000px;
    background-color: var(--orange-corp);
    border: 1px solid var(--orange-corp);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--white-color);
    /*margin-top:28px;*/
    /*margin-left:123px;*/
}
.do-btn__add-to-cart a{
    text-decoration: none;
    color: var(--orange-dark);
}
.do-btn__add-to-cart:hover{
    color: var(--orange-middle);
}
/*LOGIN*/
.do-popup__login {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(25px);
    top:0;
    left:0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}
.do-popup__login:target {
    opacity: 1;
    visibility: visible;
}
.do-popup__login:target .do-popup__login__content {
    transform: translate(0px 0px);
    opacity: 1;
}
.do-popup__login__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.do-popup__login__body {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px 10px;
    transition: all 0.8s ease 0s;
}
.do-popup__login__content {
    background-color: var(--white-color);
    border-radius: 24px;
    width: 560px;
    height: 350px;
    padding:16px;
    position: relative;
    opacity: 0;
    transform: translate(0px -100%);
}
.do-popup__login__close {
    position: absolute;
    right: -28px;
    top:-10px;
    width: 16px;
    height: 16px;
    color: var(--white-color);
    text-decoration: none;
    font-size: 31px;
    font-weight: 600;
    transform: rotate(45deg);
}
.do-popup__login__title {
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    line-height: 49px;
    margin-bottom: 37px;
}
.do-popup__login__form {

}
.do-popup__login__form__input {

}
.do-popup__login__btn {
    width: 216px;
    height: 48px;
}
.do-popup__login__btn a{
    text-decoration: none;
    color: var(--orange-dark);
}
.do-popup__login__btn a:hover{
    color: var(--orange-middle);
}
.do-popup-login__btn__content {
    width: 216px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-corp);
    border: 1px solid var(--orange-corp);
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--white-color);
}
.do-popup__login__send__info {
    margin:0;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.do-popup__login__send__info a{
    text-decoration: underline;
    color: var(--gray-dark);
}



