.do-product__box__desktop {
    width: 250px;
    height: 370px;
    margin-right: 20px;
    margin-bottom:60px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-between;
    /*background-color: azure;*/
}
.do-product__box__desktop_appetizers {
    width: 250px;
    height: 425px;
    margin-right: 20px;
    margin-bottom:60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-between;
    /*background-color: azure;*/
}
.do-product__box__desktop_desserts {
    width: 250px;
    height: 406px;
    margin-right: 20px;
    margin-bottom:60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-between;
    /*background-color: azure;*/
}
.do-product__box__desktop_beverages {
    width: 250px;
    height: 387px;
    margin-right: 20px;
    margin-bottom:60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-between;
}
.do-product__box-top__desserts__desktop {
    width: 88%;
    height: 61%;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-left: 10px;
}
.do-product__box-top__desktop {
    width: 88%;
    height: 61%;
    justify-content: center;
    align-items: center;
    /*margin-right: 43px;*/
    margin-left: 10px;
}
.do-product__pic__desktop {
    justify-content: center;
    align-items: center;
}
.do-product__box-bottom__desktop {
    width: 94%;
    height: 39%;
    position: relative;
}
.do-product__price__desktop {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    /*margin:32px 0 0 0;*/
    position: absolute;
    bottom:-8px;
    left:0;
}
.do-product__price-prefix__elem {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    font-style: normal;
    justify-content: flex-start;
    padding-right: 4px;
}
.do-product__price__elem {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    font-style: normal;
    justify-content: flex-start;
    padding-right:21px;
}
.do-product__price-btn__desktop {
    width: 120px;
    height: 40px;
    border: 1px solid var(--orange-light);
    background-color: var(--orange-light);
    border-radius: 1000px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 9px 8px 5px;
    margin-left:46px;
}

.do-product__price-btn__desktop a{
    text-decoration: none;
    color: var(--orange-dark);
}
.do-product__price-btn__desktop:hover {
    border:1px solid var(--orange-corp);
    background-color: var(--orange-corp);
}
.do-product__price-btn__desktop a:hover {
    color: var(--white-color);
}
.do-product__first-title__desktop {
    font-size: 20px;
    line-height: 27px;
    font-weight: 600;
    font-style: normal;
    margin:0;
    margin-bottom: 8px;

}
.do-product__first-title-up__desktop{
    font-size: 20px;
    line-height: 27px;
    font-weight: 600;
    font-style: normal;
    margin:-32px 0 8px 0;
}
.do-product__first-title-desserts__desktop{
    font-size: 20px;
    line-height: 27px;
    font-weight: 600;
    font-style: normal;
    margin:-20px 0 8px 0;
}
.do-product__description__desktop {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}
.do-addinfo {
    display: flex;
    width: 1060px;
    margin-bottom: 56px;
}
.do-addinfo-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 9px 0 5px;

}
.do-addinfo__vertical_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 30px;

}
.do-addinfo-block_extended {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right:30px;
    margin-bottom:8px;
}
.do-addinfo-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    font-style: normal;
    margin-bottom: 20px;
}
.do-addinfo-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;

}
/*--------------FOOOOOOOOTER-DESKTOP----------*/
.do-footer__desktop {
    width: 1280px;
    height: 569px;
    background-color: var(--semi-black);
    display: flex;
    flex-direction: column;
}
.do-footer__desktop__section {
    width: 1060px;
    margin: 50px  auto;
    display: flex;

}
.do-footer__desktop__menu {
    width: 30%;
    display: flex;
    flex-direction: column;

}
.do-footer__desktop__list {
    margin:0;
    padding:0;
    list-style-type: none;
    color: var(--white-color);

}
.do-footer__desktop__list a{
    text-decoration: none;
    color: var(--white-color);
    opacity: 0.7;
}
.do-footer__desktop__list-subtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    font-style: normal;
    padding-bottom: 10px;

}
.do-footer__desktop__menu__elem {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    font-style: normal;
    padding-bottom: 10px;
}
.do-footer__desktop__menu__elem a:hover {
    opacity:1;
}
.do-footer__desktop-apps {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.do-footer__desktop-phone {
    color: var(--white-color);
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;
    font-style: normal;
    text-align: right;
    padding-bottom: 10px;
}
.do-footer__desktop-phone__free {
    color: var(--white-color);
    opacity: 0.5;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    padding-bottom: 26px;
}
.do-footer__desktop-email {
    color: var(--white-color);
    opacity: 0.9;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-align: right;
}
.do-footer__desktop__info {
    width: 40%;
}
.do-footer__desktop__income {
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;
    color: var(--white-color);
}
.do-footer__desktop__income-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: var(--white-color);
    opacity: 0.7;
    width:85%;
    margin-top: 15px;
}
.do-footer__desktop__line{
    width: 100%;
    border: 1px solid var(--black-color);
    opacity: 0.2;
    margin:8px auto;
}
.do-footer_desktop__underline {
    width: 1060px;
    margin: 28px auto;
    display: flex;
    flex-direction: row;
}
.do-footer__desktop_logo {
    margin-right:30px;
}
.do-footer__desktop_copyright {
    align-items: center;
    margin-right:55px;
}
.do-footer__desktop__underline__menu {
    list-style-type: none;
    margin: 0 70px 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;

}
.do-footer__desktop__underline__menu a{
    text-decoration: none;
    color: var(--white-color);
    opacity: 0.7;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-right: 10px;
}
.do-footer__desktop__underline__menu a:hover {
    opacity: 1;
}

.do-footer__desktop__society {
    list-style-type: none;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: row;


}
.do-footer__desktop__society a {
    text-decoration: none;
    margin-right: 10px;
    opacity: 0.7;
}
.do-footer__desktop__society a:hover {
    opacity: 1;
}