@import "positions.css";
@import "hd_desk_styles.css";
@import "do_products_desktop_style.css";
@import "do_popups_styles.css";

:root {
    --orange-corp: #F96900;
    --orange-light: #FFF0E6;
    --gray-corp: #F3F3F7;
    --gray-dark: #73798C;
    --gray-light: #5C6370;
    --orange-dark: #D15700;
    --black-color: #000000;
    --orange-hover: #ED5D08;
    --white-color: #FFFFFF;
    --orange-middle: #FFD0B2;
    --orange-middark: #D55406;
    --semi-black: #464C55;
    --usuall-gray: #999999;
    --less-black: #4D4D4D;
}
* {
    box-sizing: border-box;
}
.do-wrapper {
    min-width: 320px;
    font-family: Nunito, sans-serif;
    font-weight: 400;
    margin:0 auto;
    padding:0 7px;

}
.do-header {
    /*position: fixed;*/
    width: 320px;
    max-width: 1199px;
    height: 23px;
    display: flex;

    /*top:12px;*/
    background-color: var(--white-color);
}
.do-container {
    /*margin:0 auto;*/
    /*padding:0 16px;*/
}
.do-hd-container {
    display: none;
}

/*------------------------BURGER MENU-------------------------------*/
/*скрыть чекбокс*/
#do-menu__toggle {
    opacity:0;
}
/*стилизуем кнопку*/
.do-menu-button {
    display: flex;
    align-items: center;
    position: fixed;
    top:23px;
    right:16px;

    width: 20px;
    height: 20px;

    cursor:pointer;
    z-index: 2;
}
/*добавляем гамбургер*/
/*.do-menu-button > span,*/
.do-menu-button > span::before,
.do-menu-button > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;
    background-color: var(--black-color);
}
.do-menu-button > span::before {
    content: '';
    top:-4px;
}
.do-menu-button > span::after {
    content: '';
    top: 4px;
}
/*контейнер спрятанного меню*/
.do-menu__list {
    display: block;
    position: fixed;
    visibility: hidden;
    top:0;
    right:-100%;

    width:100%;
    height: 100%;

    margin:0;
    padding:0;

    list-style: none;
    background-color: var(--black-color);
    box-shadow: 1px 0 6px rgba(0,0,0,.2);
    z-index: 0;
}
/*элементы меню*/
.do-menu__list__elem {
    display: block;
    /*padding: 15px 24px;*/
    color: var(--white-color);
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 27px;
    text-decoration: none;
    letter-spacing: -0.7px;
    margin-top:27px;
    margin-left:35px;
}
.do-menu__list__elem:hover {
    text-decoration: underline;
    color: var(--white-color);
    /*text-decoration: none;*/
    /*color: var(--dark-yellow-color);*/
    /*border-bottom: 4px solid;*/
    /*width: 100px;*/
    /*margin-left: 10px;*/
    /*padding-bottom:5px;*/
}
/*OPEN_CLOSE HAMBURGER*/
/*#do-menu__toggle:checked ~ .do-menu-button > span {*/
/*    transform: rotate(45deg);*/
/*    background-color: var(--white-color);*/
/*}*/
#do-menu__toggle:checked ~ .do-menu-button > span::before {
    top:0;
    transform: rotate(45deg);
    background-color: var(--white-color);
    z-index: 2;
}
#do-menu__toggle:checked ~ .do-menu-button > span::after {
    top:0;
    transform: rotate(135deg);
    background-color: var(--white-color);
    z-index: 2;
}
#do-menu__toggle:checked ~ .do-menu__list {
    visibility: visible;
    left: 0;
    color: var(--white-color);
    font-size: 20px;
    line-height: 27px;
    list-style-type: none;
}
#do-menu__toggle:checked ~ .do-header__logo {
    background-image: url("../../Git/Kostya_dodo/Varya/img/logo_white.png");
    width: 156px;
    height: 23px;
    position: relative;
    z-index: 2;
}
.do-burger__geoloc {
    width: 276px;
    height: 76px;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: center;
    margin-left:8px;
    margin-top:37px;
}
.do-city {
   padding-left:11px;
    font-size: 20px;
    font-weight: 600;

}
.do-change__sign {
    font-size: 13px;
    line-height: 18px;
    color: var(--white-color);
    opacity: 0.5;
    margin-left:43px;
    margin-top:-24px;
}
.do-change__sign a{
    text-decoration: none;
    color: var(--white-color);
    opacity: 0.5;
    margin-left: -8px;
}
.do-line {
    border-bottom: 1px solid var(--white-color);
    opacity: 0.2;
    margin-bottom: 20px;
}
.do-burger__rating {
    width: 276px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left:36px;
}
.do-undermenu {

}
.do-undermenu__box {
    width: 276px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: center;
    margin-left:7px;
}
/*-----------------------------HEADER_MOBILE SECTION----------------------------------*/
.do-header__body {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.do-header__logo {
    background-image: url("../../Git/Kostya_dodo/Varya/img/logo_mobile.png");
    width: 156px;
    height: 23px;
    position: relative;
    z-index: 1;
    margin-left:-20px;
    margin-top:3px;

}
/*-------------------------MAIN SECTION---------------------*/
.do-main__container {
    margin-top: 14px;

}
.do-banner__top {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 0 -2px -14px;
}
.do-banner__position {
    margin-left: -20px;
}
.do-title__new p {
    margin:0;
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 11px;
}
.do-title p {
    margin:25px 0 20px 0;
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    font-style: normal;
}
.do__main-menu {
    width: 320px;
    height: 56px;
    position: sticky;
    top:0;
    left:16px;
    padding-top:22px;
    background-color: var(--white-color);
    margin-bottom: 20px;
}
.do-product__line {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: unset;
}
.do-product__box__small {
    width: 240px;
    height: 108px;
    border-radius: 10px;
    background-color: var(--white-color);
    box-shadow: 0 6px 25px rgba(6, 5, 50, 0.05);
    border-bottom: 1px solid var(--gray-corp);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-shrink: 0;
    margin-right: 10px;
}
.do-product__box__small-left {
    width: 30%;
    display: flex;
    padding-left:12px;
    padding-bottom:10px;
}
.do-product__box__small-right {
    width: 48%;
    display: flex;
    flex-direction: column;
}
.do-product__pic {

}
.do-product__title {
    font-size:14px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
}
.do-product__box__small-right p {
    margin:0;
}
.do-product__price {
    font-size:15px;
    line-height: 22px;
    font-weight: 600;
    font-style: normal;
}
.do-submenu_button {
    border:1px solid var(--gray-corp);
    background-color: var(--gray-corp);
    color: var(--semi-black);
    border-radius: 100px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    margin-right: 9px;
    padding:6px 10px 6px 14px;

}
.do-submenu_button a{
    text-decoration: none;
    color: var(--semi-black);
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;

}
.do-submenu_button:hover{
    border-color: var(--orange-light);
    background-color: var(--orange-light);

}
.do-submenu_button a:hover {
    color: var(--orange-dark);
}
#do__pizza {
    display: none;
}
.do-product__section__mobile {
    display: flex;
    flex-direction: column;
}
.do-product__section__desktop {
    display: none;
}
.do-product__box {
    /*width: 288px;*/
    /*height: 149px;*/
    border-bottom: 1px solid var(--gray-corp);
    display: flex;
    align-items: center;
    margin: 13px 0 0 0;
    padding: 0 0 15px 0;
}
.do-product__box-left {
    /*width: 42%;*/
    display: flex;
    padding-bottom: 7px;
    /*align-items: center;*/
}
.do-product__box-right {
    /*width: 58%;*/
    min-width: 156px;
    min-height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 21px 0 9px;
}
.do-product__box-right_combo {
    /*width: 58%;*/
    min-width: 150px;
    min-height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 21px 0 9px;
}
.do-product__box-right_appetizer {
    /*width: 58%;*/
    min-width: 150px;
    min-height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 21px 0 9px;
}
.do-product__box-right_desserts {
    /*width: 58%;*/
    min-width: 150px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 21px 0 9px;
}
.do-product__first-title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    font-style: normal;
    margin:0;
    /*margin-bottom: 5px;*/

}
.do-product__description {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    margin:0;
    padding:2px 0 4px 0;
    /*margin-bottom: 10px;*/
}
.do-product__description_combo {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    /*padding: 2px 0 2px 0;*/
    /*margin-bottom: 10px;*/
}
.do-product__price-btn {
    width: 96px;
    border:1px solid var(--orange-light);
    background-color: var(--orange-light);
    border-radius: 1000px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 6px 7px 8px;
}
.do-product__price-btn a{
    text-decoration: none;
    color: var(--orange-dark);
}
.do-product__price-btn:hover {
    border:1px solid var(--orange-corp);
    background-color: var(--orange-corp);
}
.do-product__price-btn a:hover {
    color: var(--white-color);
}
#delivery_and_pay {
    display: none;
}
.do-addinfo {
    display: none;
}
.do-footer__desktop {
    display: none;
}
.do-footer {
    width: 320px;
    height: 1030px;
    background-color: var(--semi-black);
    color: var(--white-color);
    margin-left:-8px;
    padding-left: 17px;
    padding-top: 13px;
    margin-top:19px;
}
.do-email {
    text-decoration: none;
    color: var(--white-color);

}
.do-footer-email {
    border-bottom: 1px solid var(--black-color);
    padding-bottom:20px;
    width: 288px;
    opacity: 0.1;
}
.do-footer__menu {
    margin-left:-41px;
}
.do-footer__menu-list {
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    padding-top:5px;
    margin-bottom: 28px;
}
.do-footer__menu__elem__title {
    margin-bottom: 12px;
    font-weight: 600;
}
.do-footer__menu__elem {
    margin-bottom: 10px;
    font-weight: 400;

}
.do-footer__menu__link {
    text-decoration: none;
    color: var(--white-color);
}
.do-footer-email__line {
    border-bottom: 1px solid var(--black-color);
    width: 288px;
    opacity: 0.1;
    margin:0;
}
.do-footer__menu-list1 {
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    padding-top: 3px;
    margin-bottom: 19px;
}
.do-footer__menu-list2 {
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    padding-top: 3px;
    margin-bottom: 22px;
}
.do-footer__tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.do-footer__tabs img{
    padding-right:6px;
    padding-top:18px;
}
.do-footer__apps {
    display: flex;
    width: 301px;
    height: 60px;
    margin-left:-11px;
    margin-top: 13px;
    margin-bottom:10px;
}
.do-footer__apps img{
    width: 50%;
}
.do-footer-logo {
    width: 276px;
    height: 22px;
    display: flex;
    justify-content: space-between;
}
.do-footer-copyright {
    font-size: 16px;
    line-height: 22px;
}
@media (min-width: 768px) {

}

@media (min-width: 1280px) {
    .do-header {
        width: 1280px;
        height: 116px;
        max-width: 1550px;
        display: flex;
        position: relative;
        top: 17px;
        left:25px;
        margin-bottom:32px;
    }
    .do-container {
        width: 1280px;
        margin: 0 auto;
        display: flex;

    }
    .do-header__body {
        display: none;
    }
    .do-hd-container {
        display: flex;
        z-index: 0;
    }
    .do-main__container {
        padding-left: 97px;
    }
    .do-banner__top {
        width: 1280px;
        height: 345px;
        align-items: center;
        margin: 0 0 40px -13px;

    }
    .do-banner__position {
        margin-left:10px;
    }
    .do-title__new p {
        font-size: 24px;
        line-height: 33px;
        font-weight: 700;
        margin-bottom:26px;
        margin-left:3px;
    }
    .do-product__box__small {
        width: 250px;
        height: 104px;
        margin: 4px 22px 0 0;
    }
    .do-product__box__small-left {
        width: 37%;
        padding-bottom: 0;
    }
    .do-product__box__small-right {
        width: 50%;
    }
    .do__main-menu {
        display: none;
    }
    .do-title p {
        margin: 10px 0 40px 5px;
        font-size: 24px;
        line-height: 33px;
        font-weight: 700;
        font-style: normal;
    }
    .do-product__section__mobile {
        display: none;
    }
    #do__pizza {
        display: inline-block;
        margin: 50px 0 14px 5px;
        font-size: 24px;
        line-height: 33px;
        font-weight: 700;
        font-style: normal;

    }
    .do-product__section__desktop {
        display: flex;
        /*height: 740px;*/
        flex-wrap: wrap;
        max-width: 1550px;
    }
    #delivery_and_pay {
        display: flex;
    }
    .do-addinfo {
        display: flex;
    }
    .do-footer {
        display: none;
    }
    .do-footer__desktop {
        display: flex;
    }
}
