.do-hd-container {
    /*margin:25px 110px;*/
    width: 1280px;
    /*height: 6742px;*/
    margin-left:-32px;
    height: 116px;
}
.do-header__desktop{
    width: 1060px;
    height: 116px;
    margin: 0 auto;
    background-color: var(--white-color);
    z-index: 0;
}
.do-hd__head-line {
    display: flex;
    flex-direction: row;
}
.do-hd-logo {
    position: relative;
    top:0;
    left:0;
    width: 249px;
    height: 48px;
    margin-right: 92px;
}
.do-hd-logo a {

}
.do-hd-del-and-rate {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 250px;
    height: 48px;
    position: relative;
    margin-right: 20px;
}
.do-hd-del {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}
.do-hd-geo {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    font-style: normal;
}
.do-hd-rate {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}
.do-hd-rate__elem,
.do-hd-delivery__elem {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
    margin-right: 10px;
}
.do-hd-delivery__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.do-hd-phone {
    width: 160px;
    height: 48px;
    flex-shrink: 0;
    margin-right: 218px;
}
.do-hd-phone__elem {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 25px;
    letter-spacing: 0.7px;
}
.do-hd-phone__underelem {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
}
.do-btn__authority {
    width: 70px;
    height: 32px;
    border-radius: 1000px;
    background-color: var(--gray-corp);
    border: 1px solid var(--gray-corp);
    font-weight: 600;
    line-height: 19px;
    color: var(--gray-light);
}
.do-btn__authority:hover {
    color: var(--black-color);
}
.do-btn__authority a {
    color: var(--gray-light);
    text-decoration: none;
}
.do-hd-nav {
    display: flex;
    flex-direction: row;
}
.do-hd-menu__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left:-39px;
    margin-top:39px;
}
.do-hd-menu__elem {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    font-style: normal;
    text-decoration: none;
    padding-right: 24px;
    color: var(--black-color);
}
.do-btn__shop-cart {
    width: 104px;
    height: 40px;
    border-radius: 1000px;
    background-color: var(--orange-corp);
    border: 1px solid var(--orange-corp);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--white-color);
    margin-top:28px;
    margin-left:123px;

}
.do-btn__shop-cart:hover {
    background-color: var(--orange-hover);
    border: 1px solid var(--orange-hover);
}