.do-text-black {
    color: var(--black-color);
}
.do-text-gray {
    color: var(--gray-dark);
}
.do-text-white {
    color: var(--white-color)
}
.do-text-orange {
    color: var(--orange-corp);
}
.do-text-semi-black {
    color: var(--semi-black);
}