:root {
    --orange-corp: #F96900;
    --orange-light: #FFF0E6;
    --gray-corp: #F3F3F7;
    --gray-dark: #73798C;
    --gray-light: #5C6370;
    --orange-dark: #D15700;
    --orange-hover: #ED5D08;
    --white-color: #FFFFFF;
    --orange-middle: #FFD0B2;
    --orange-middark: #D55406;
    --usuall-gray: #999999;
}
.do-wrapper {
    width: 1280px;
    height: 1000px;
    font-family: Nunito, sans-serif;
    font-size: 14px;

}
.do-container {
    margin: 103px 110px;
}
.do-samples {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.do-first-line {
    width: 538px;
    height: 169px;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.do-box-name {
    color: var(--black-color);
    opacity: 0.43;
}
.do-margin-bottom40 {
    margin:0 0 40px 0;
}
.do-margin-bottom20 {
    margin:0 0 20px 0;
}
.do-product__static {
    width: 250px;
    height: 104px;
    border-radius: 10px;
    background-color: var(--white-color);
    box-shadow: 0 6px 25px rgba(6, 5, 50, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-shrink: 0;

}
.do-product__hover {
    width: 250px;
    height: 104px;
    border-radius: 10px;
    background-color: var(--white-color);
    box-shadow: 0 0 15px rgba(6, 5, 50, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;


}
.do-product__img {
    width: 76px;
    height: 76px;
    position: absolute;
    top:14px;
    left:18px;
}
.do-product__title {
    position: absolute;
    top:29px;
    left:116px;
    letter-spacing: -0.3px;

}
/*.do-product__price {*/
/*    position: absolute;*/
/*    top:52px;*/
/*    left:116px;*/
/*    letter-spacing: 1.3px;*/

/*SHOPPING CART & AUTHORIZATION BUTTONS */
.do-services__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
}
.do-buttons {
    display: flex;
    flex-direction: column;
    width: 150px;
}
.do-button-cart__stat {
    width: 104px;
    height: 40px;
    border-radius: 1000px;
    background-color: var(--orange-corp);
    border: 1px solid var(--orange-corp);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--white-color);

}
.do-button-cart__hover {
    width: 104px;
    height: 40px;
    border-radius: 1000px;
    background-color: var(--orange-hover);
    border: 1px solid var(--orange-hover);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--white-color);
}
.do-authority__stat {
    width: 70px;
    height: 32px;
    border-radius: 1000px;
    background-color: var(--gray-corp);
    border: 1px solid var(--gray-corp);
    font-weight: 600;
    line-height: 19px;
    color: var(--gray-light);
}
.do-authority__hover {
    width: 70px;
    height: 32px;
    border-radius: 1000px;
    background-color: var(--gray-corp);
    border: 1px solid var(--gray-corp);
    font-weight: 600;
    line-height: 19px;
    color: var(--black-color);
}
.do-add-to-cart__stat{
    width: 120px;
    height: 40px;
    border-radius: 1000px;
    background-color: var(--orange-light);
    border: 1px solid var(--orange-light);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--orange-dark);
}
.do-add-to-cart__hover {
    width: 120px;
    height: 40px;
    border-radius: 1000px;
    background-color: var(--orange-middle);
    border: 1px solid var(--orange-middle);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--orange-middark);
}
/*NEXT LINE WITH STATIC ITEMS*/
.do-second-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.do-third-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
/*HEADER for DESKTOP*/
.do-hd-container {
    /*margin:25px 110px;*/
    width: 1280px;
    height: 6742px;
    /*margin: 0 auto;*/
}
.do-header__desktop{
    width: 1060px;
    height: 116px;
    margin: 0 auto;
    background-color: var(--white-color)

}
.do-hd__head-line {
    display: flex;
    flex-direction: row;


}
.do-hd-logo {
    position: relative;
    top:0;
    left:0;
    width: 249px;
    height: 48px;
}
.do-hd-logo a {

}
.do-hd-del-and-rate {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 250px;
    height: 48px;
    position: relative;
}
.do-hd-del {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}
.do-hd-geo {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    font-style: normal;
}
.do-hd-rate {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}
.do-hd-rate__elem,
.do-hd-delivery__elem {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
}
.do-hd-phone {
    width: 145px;
    height: 48px;
}
.do-hd-phone__elem {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 25px;
    letter-spacing: 0.7px;
}
.do-hd-phone__underelem {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
}
.do-text-orange {
    color: var(--orange-corp);
}
.do-text-usual-gray {
    color: var(--usuall-gray);
}
.do-margin-right10 {
    margin-right: 10px;
}
.do-margin-right90 {
    margin-right: 90px;
}
.do-margin-right25 {
    margin-right: 25px;
}
.do-margin-right236 {
    margin-right: 236px;
}
.do-hd-nav {
    display: flex;
    flex-direction: row;
}
.do-hd-menu__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin:0;
    align-items: flex-end;
    margin-left:-39px;
    margin-top:41px;
}
.do-hd-menu__elem {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    font-style: normal;
    text-decoration: none;
    padding-right: 24px;
    color: var(--black-color);
}
.do-btn__shop-cart {
    width: 104px;
    height: 40px;
    border-radius: 1000px;
    background-color: var(--orange-corp);
    border: 1px solid var(--orange-corp);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--white-color);

}
.do-margin-top21{
    margin-top:21px;
}
.do-margin-left120 {
    margin-left:120px;
}
/*product box for mob*/
.do-product__box {
    width: 288px;
    height: 149px;
    border-bottom: 1px solid var(--gray-corp);
    display: flex;
    align-items: center;
}
.do-product__box-left {
    width: 42%;
    display: flex;
    /*align-items: center;*/
}
.do-product__pic {

}
.do-product__box-right {
    width: 57%;
    display: flex;
    flex-direction: column;

}
.do-title18px {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    font-style: normal;
    margin:0;
    letter-spacing: -0.6px;
}
.do-title12px {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    margin:0;
    /*letter-spacing: -0.6px;*/
}
.do-text-black {
    color: var(--black-color);
}
.do-text-gray {
     color: var(--gray-dark);
}
.do-button__lo {
    border:1px solid var(--orange-light);
    background-color: var(--orange-light);
    border-radius: 1000px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.do-size-96 {
    width: 96px;
    height: 32px;
}
.do-button__lo a{
    text-decoration: none;
    color: var(--orange-dark);
}
.do-button__lo:hover {
    border:1px solid var(--orange-corp);
    background-color: var(--orange-corp);
}
.do-button__lo a:hover {
    color: var(--white-color);
}
.do-product__box__small {
    width: 250px;
    height: 104px;
    border-radius: 10px;
    background-color: var(--white-color);
    box-shadow: 0 6px 25px rgba(6, 5, 50, 0.05);
    border-bottom: 1px solid var(--gray-corp);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-shrink: 0;
}
.do-product__box__small-left {
    width: 30%;
    display: flex;
}
.do-product__box__small-right {
    width: 48%;
    display: flex;
    flex-direction: column;
}
.do-title14px {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    margin:0;
}
.do-title15px {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    font-style: normal;
    margin:0;

}
.do-product__section {
    display: flex;
    flex-direction: column;
}
.do-product__box {
    width: 288px;
    height: 149px;
    border-bottom: 1px solid var(--gray-corp);
    display: flex;
    align-items: center;
}
.do-product__box-left {
    width: 42%;
    display: flex;
    padding-bottom: 7px;
    /*align-items: center;*/
}
.do-product__pic {

}
.do-product__box-right {
    width: 58%;
    display: flex;
    flex-direction: column;
}
/*.do-product__price-btn {*/
/*    width: 96px;*/
/*    border:1px solid var(--orange-light);*/
/*    background-color: var(--orange-light);*/
/*    border-radius: 1000px;*/
/*    font-size: 14px;*/
/*    line-height: 19px;*/
/*    font-weight: 600;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    padding: 6px 6px 7px 8px;*/


/*desktop*/
.do-product__box__desktop {
    width: 250px;
    height: 370px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
    background-color: azure;
}
.do-product__box__desktop_appetizers {
    width: 250px;
    height: 425px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
    /*background-color: azure;*/
    justify-content: space-between;
}
.do-product__box__desktop_desserts {
    width: 250px;
    height: 406px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
    /*background-color: azure;*/
}
.do-product__box-top__desktop {
    width: 88%;
    height: 61%;
    justify-content: center;
    align-items: center;
    /*margin-right: 43px;*/
    margin-left: 10px;
}

.do-product__pic__desktop {
    justify-content: center;
    align-items: center;
}
.do-product__box-bottom__desktop {
    width: 94%;
    height: 39%;
}
.do-product__price__desktop {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin:32px 0 0 0;
}
.do-product__price__elem {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    font-style: normal;
    justify-content: flex-start;
    margin:0;
}
.do-product__price-btn__desktop {
    width: 120px;
    height: 40px;
    border: 1px solid var(--orange-light);
    background-color: var(--orange-light);
    border-radius: 1000px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 9px 8px 5px;
    /*margin-left:45px;*/
}

.do-product__price-btn__desktop a{
    text-decoration: none;
    color: var(--orange-dark);
}
.do-product__price-btn__desktop:hover {
    border:1px solid var(--orange-corp);
    background-color: var(--orange-corp);
}
.do-product__price-btn__desktop a:hover {
    color: var(--white-color);
}
.do-product__first-title__desktop {
    font-size: 20px;
    line-height: 27px;
    font-weight: 600;
    font-style: normal;
    margin:0;
    margin-bottom: 8px;

}
.do-product__description__desktop {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}
/*button dough*/
/*.do-btn__switch__dough__container {*/
/*    margin: 0;*/
/*    padding:0;*/
/*    background: var(--gray-corp);*/
/*    position: relative;*/

.do-btn__switch__dough {
    position: relative;
    display: inline;
}
.do-btn__switch__dough__checkbox {
    position: relative;
    width: 320px;
    height: 32px;
    -webkit-appearance: none;
    background: var(--gray-corp);
    outline: none;
    border-radius: 100px;
    cursor: pointer;
}
.do-btn__switch__dough__checkbox:checked {
    background: var(--gray-corp);
    /*box-shadow: 0px 3px 15px rgba(6, 5, 50, 0.05);*/
}
.do-btn__switch__dough__checkbox:before {
    content: '';
    position: absolute;
    width: 160px;
    height: 30px;
    border-radius: 100px;
    top:0;
    left: 0;
    background: var(--white-color);
    transition: .5s;
    box-shadow: 0px 3px 15px rgba(6, 5, 50, 0.05);
}
.do-btn__switch__dough__checkbox:checked:before {
    left:157px;
}
.do-tradition-dough {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    pointer-events: none;
    position: absolute;
    bottom:14px;
    left:33px;
}
.do-thin-dough {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    pointer-events: none;
    position: absolute;
    bottom:14px;
    left:220px;
}
/*PRODUCTS*/
.do-product__popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(25px);
    top:0;
    left:0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}
.do-product__popup:target {
    opacity: 1;
    visibility: visible;
}
.do-product__popup:target .do-product__popup__content {
    transform: translate(0px 0px);
    opacity: 1;
}
.do-product__popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.do-product__popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px 10px;
    transition: all 0.8s ease 0s
}
.do-product__popup__content {
    background-color: var(--white-color);
    border-radius: 24px;
    max-width: 920px;
    max-height: 610px;
    padding:16px;
    position: relative;
    opacity: 0;
    transform: translate(0px -100%);
}
.do-banner__popup__content img {
    margin-bottom:10px;
}
.do-product__popup__close {
    position: absolute;
    right: -10px;
    top:-10px;
    width: 16px;
    height: 16px;
    color: var(--white-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.do-product__popup__content-right {

}
.do-product__popup__content-left {

}
.do-product__popup__title {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: 33px;
    margin-bottom: 12px;
}
.do-product__popup__text {
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    /*margin-bottom: 95px;*/
}
.do-product__popup__ingridients {

}
.do-btn__switch__size {

}
.do-btn__switch__size__content {

}
.do-btn__switch__dough {
    position: relative;
    display: inline;
}
.do-btn__switch__dough__checkbox {
    position: relative;
    width: 320px;
    height: 32px;
    -webkit-appearance: none;
    background: var(--gray-corp);
    outline: none;
    border-radius: 100px;
    cursor: pointer;
}
.do-btn__switch__dough__checkbox:checked {
    background: var(--gray-corp);
}
.do-btn__switch__dough__checkbox:before {
    content: '';
    position: absolute;
    width: 160px;
    height: 30px;
    border-radius: 100px;
    top:0;
    left: 0;
    background: var(--white-color);
    transition: .5s;
    box-shadow: 0 3px 15px rgba(6, 5, 50, 0.05);
}
.do-btn__switch__dough__checkbox:checked:before {
    left:157px;
}
.do-tradition-dough {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    pointer-events: none;
    position: absolute;
    bottom:14px;
    left:33px;
}
.do-thin-dough {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    pointer-events: none;
    position: absolute;
    bottom: 14px;
    left: 220px;
}
.do-product__popup__add-title {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 22px;
    margin-bottom: 12px;
}
.do-product__popup__side__ingridients {

}
.do-product__popup__footer {

}
.do-btn__add-to-cart {

}
.do-btn__add-to-cart a{
    text-decoration: none;
    color: var(--orange-dark);
}
.do-btn__add-to-cart:hover{
    color: var(--orange-middle);
}